@import url(
  https://fonts.googleapis.com/css?family=Open+Sans:300italic,
  400italic,
  600italic,
  700italic,
  800italic,
  400,
  300,
  600,
  700,
  800
);

body {
  font-family: 'Open Sans', sans-serif;
  color: #414141;
  background: #292929;
  font-size: 13px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.container {
  padding-right: 0;
  padding-left: 0;
}
body,
li,
address {
  line-height: 22px;
}
input,
button,
select,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
}
p {
  margin: 0 0 15px;
}
a {
  /* -webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.2s ease;*/
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
}

#mt {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  text-shadow: -1px 1px #222;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
#mt > div {
  cursor: pointer;
  background: #414141;
  width: 50%;
  padding: 0.8em 0;
  color: #eea236;
  font-weight: bold;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: inline-block;
  text-align: center;
}
#mt > div:hover {
  background: #3d3d3d;
}

/****************************header***************************************/
.top-left {
  width: 70%;
  float: left;
  padding: 12px 15px;
}
.top-right {
  width: 30%;
  float: right;
  padding: 12px 15px;
}
.lang {
  float: right;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 10px 15px;
}
.color {
  float: right;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 10px 25px 10px 5px;
}
.login {
  float: right;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 3px 20px 0 0;
}
.login img {
  width: 65px;
}
.user_name {
  font-size: 20px;
  color: antiquewhite;
}
.logo {
  float: left;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.menu {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0 0px;
  float: left;
}
.user_details {
  padding-top: 5px;
  float: left;
  text-align: right;
  margin-right: 5px;
}
.menu li a {
  color: #d7d7d7;
  font-weight: 600;
  line-height: 50px;
  font-size: 16px;
}
.menu li {
  margin: 0 15px;
  float: left;
}
.menu li a img {
  margin-right: 10px;
}
.menu li a:hover {
  color: #f39c12;
}
.menu li a:selected {
  color: #f39c12;
}
.lang .dropdown-menu li img {
  margin-right: 5px;
}
.color .dropdown-menu li img {
  margin-right: 5px;
}
.dropdown-menu {
  background: #efefef;
}
.dropdown-menu li:hover a {
  color: #f39c12;
}

/*******************************container1************************************/
.main-container {
  width: 85%;
  float: left;
  padding-right: 0.5%;
  margin-top: -2px;
  min-height: 850px;
}
.dark-grey {
  background: none repeat scroll 0% 0% rgba(123, 123, 123, 0.68);
}

.light-grey {
  background: #d7d7d7;
}
.title {
  height: 58px;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 58px;
  padding-left: 15px;
  color: #d7d7d7;
  position: relative;
  background-color: #717171;
}
.blk-1 {
  width: 100%;
  padding: 15px 0 15px 0px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.img-blk-1 {
  width: 48%;
  float: left;
  padding: 0 0 0 15px;
}
.img-blk-1 img {
  width: 100%;
  max-width: 100%;
}
.txt-blk-1 {
  width: 52%;
  float: left;
  padding: 0 15px 0px 15px;
  max-height: 92px;
  overflow: hidden;
  margin-bottom: 0px;
  line-height: 18px;
}
.title-txt a {
  color: #414141;
  font-weight: bold;
  font-size: 14px;
}
.title-txt a:hover {
  color: #f39c12;
}
.nav-tabs a {
  font-size: 14px;
  color: #d7d7d7;
  text-transform: none;
}
.nav-tabs {
  position: absolute;
  right: 20px;
  top: 10px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #f39c12;
  background-color: none;
  border: 0;
  border-bottom-color: none;
  cursor: default;
}
.nav-tabs > li a {
  background: none;
  border: 0;
}
.nav-tabs > li:hover a {
  background: none;
  border: 0;
}
.nav-tabs {
  border: 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: none;
}

/*******************************container2************************************/
.blk2 {
  width: 100%;
  padding: 15px 15px 15px 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.series {
  font-weight: bold;
  font-size: 16px;
  float: right;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.time {
  float: left;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.time .live {
  margin-top: -7px;
  margin-left: 3px;
}
.vs-blk {
  overflow: hidden;
  width: 100%;
  margin: 5px 0 5px 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  border-radius: 10px;
  box-shadow: 0px 3px 8px #555;
  background: #cacaca;
  padding: 8px 8px 10px 8px;
}
.op1 {
  width: 35%;
  float: left;
}
.op2 {
  width: 35%;
  float: left;
}
.vs {
  width: 5%;
  float: left;
  text-align: center;
  line-height: 99px;
  font-size: 16px;
}
.view-bl {
  width: 25%;
  float: left;
}
.title-opt {
  text-align: center;
  width: 50%;
  float: left;
}
.title-opt h3 {
  font-weight: 700;
  font-size: 24px;

  .title-opt a {
    text-decoration: none;
    color: #428bca;
  }
  .title-opt a:hover,
  a:focus {
    color: #428bca;
    text-decoration: underline;
  }
  .title-opt a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  background: #f2f2f2;
  border-radius: 5px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0 8px;
  background: -webkit-gradient(90deg, linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#b8b8b8));
  background: -webkit-linear-gradient(right, #f2f2f2, #cfcfcf 70%, #b8b8b8);
  background: -moz-linear-gradient(right, #f2f2f2, #cfcfcf 70%, #b8b8b8);
  background: -ms-linear-gradient(right, #f2f2f2, #cfcfcf 70%, #b8b8b8);
  background: -o-linear-gradient(right, #f2f2f2, #cfcfcf 70%, #b8b8b8);
}
.right-bg h3 {
  background: -webkit-gradient(90deg, linear, 0% 0%, 0% 100%, from(#b8b8b8), to(#f2f2f2));
  background: -webkit-linear-gradient(left, #f2f2f2, #cfcfcf 70%, #b8b8b8);
  background: -moz-linear-gradient(left, #f2f2f2, #cfcfcf 70%, #b8b8b8);
  background: -ms-linear-gradient(left, #f2f2f2, #cfcfcf 70%, #b8b8b8);
  background: -o-linear-gradient(left, #f2f2f2, #cfcfcf 70%, #b8b8b8);
}
.percent {
  font-size: 20px;
  font-weight: 500;
  display: block;
}
.avata-op {
  width: 50%;
  float: left;
  text-align: center;
  display: inline-block;
  *display: inline;
  zoom: 1;
  height: 99px;
  padding: 7px 0;
}
.avata-op .avata {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 80px;
  position: relative;
  text-align: center;
}
.avata-op .avata .a-img {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}
.avata-op .avata img {
  width: 100%;
  max-width: 100%;
  padding: 2px;
}
.avata-op .avata .shadow {
  position: absolute;
  z-index: 11;
  top: 0;
  left: 0;
}
.btn-1 {
  width: 100%;
  text-align: center;
  margin: 0 0 5px 0;
}
.btn-1 img {
  margin: 0 3px;
}
.view-bl {
  padding: 25px 0;
}
.view-btn {
  width: 100%;
  text-align: center;
}
.view-btn a {
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}
.pagination-b {
  text-align: center;
  margin: 25px 0 25px 0;
}
.pagination-b ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.pagination-b li {
  float: left;
  margin: 0 5px;
}
.pagination-b li a {
  font-size: 16px;
  font-weight: bold;
  color: #414141;
}
.pagination-b li:hover a,
.pagination-b li.current a {
  color: #f39c12;
}
.pagination-b li.current a {
  cursor: default;
}

/*******************************right content************************************/
.right-content {
  background: #292929;
  width: 15%;
  float: left;
  margin-top: 5px;
}
.right-blk {
  background: #b8b8b8;
}
.title-right {
  height: 34px;
  line-height: 34px;
  background: #2d2d2d;
  color: #f39c12;
  padding: 0px 15px;
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid #333;
}
.right-blk ul {
  padding: 0;
  margin: 0;
}
.right-blk ul li {
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
  color: #d7d7d7 !important;
  font-weight: 500;
  border-top: 1px solid #333;
  background-color: #2d2d2d;
  display: block;
  border-bottom: 1px solid #252525;
}
.right-blk ul li a {
  color: #d7d7d7;
  font-weight: 500;
  width: 100%;
  display: block;
}
.s-all {
  color: #d7d7d7;
  float: right;
}
.per {
  float: right;
}
.divide {
  height: 26px;
  width: 100%;
  background: url(/images/bg3.png) repeat-x;
}
.last-link {
  padding: 0;
  margin: 0;
}
.last-link li a {
  background: url(/images/bg4.png) repeat-x;
  width: 100%;
  height: 34px;
  line-height: 34px;
  padding: 0 15px;
  color: #f39c12;
  display: block;
  font-size: 14px;
  font-weight: bold;
}
.last-link li a:hover {
  color: #fff;
}
.social {
  text-align: center;
}
.social ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.social li {
  margin: 15px 10px;
  float: left;
}
.social a {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background: #dddddd;
  color: #292929;
  text-align: center;
  font-size: 20px;
  line-height: 36px;
}
.social a i {
  line-height: 36px;
}
.social a:hover {
  background: #f39c12;
}

/*******************************event left************************************/
.style-b {
  background: url(/images/bg-title1b.png) no-repeat 0px 0 !important;
}
.general {
  background: url(/images/bg1.png) repeat-x left bottom #d7d7d7;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 20px 15px;
  width: 100%;
  color: #1b1b1b;
}
.general p {
  margin: 10px 0;
}
.fea {
  margin-bottom: 10px;
}
.fea .title-fea {
  background: #888;
  min-height: 36px;
  width: 100%;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 15px;
  color: #1b1b07;
}
.half {
  width: 50%;
  float: left;
}
.general .half {
  padding: 10px 20px;
}
.main-ct {
  margin-bottom: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
}
.group-stg {
  padding: 0 7px;
}
.group-stg .half {
  padding: 0 7px;
}
.group-stg table {
  width: 100%;
}
.group-stg table thead {
  background: #888;
}
.group-stg table tfoot {
  background: #888;
}
.group-stg table td {
  text-align: center;
  height: 34px;
  line-height: 34px;
  color: #1b1b1b;
  font-weight: 600;
}
.group-stg table tr td:first-child {
  text-align: left;
  padding: 0 5px;
}
.avata-tb {
  color: #ff8a01 !important;
}
.avata-tb img {
  margin-right: 5px;
}
.group-stg table tbody tr {
  border-bottom: 1px solid #414141;
}
.sched-btn {
  text-align: right !important;
  padding-right: 20px;
}
.cmm {
  width: 100%;
  color: #ff8a00;
  text-align: right;
  padding: 0 20px;
}
.cmm a {
  color: #ff8a00;
}
.cmm img {
  margin-right: 5px;
}
.stream {
  padding: 15px 25px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
}
.stream-content {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
}
.title-stream {
  width: 100%;
  height: 36px;
  color: #f39c12;
  background: #171717;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  padding: 0 15px;
}
.ct-stream {
  width: 100%;
}
.ct-stream img {
  max-width: 100%;
  width: 100%;
}

/*******************************event right************************************/
.video-blk {
  padding: 15px 15px 0 15px;
  width: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.img-video {
  width: 40%;
  float: left;
}
.img-video img {
  width: 100%;
  max-width: 100%;
}
.title-video {
  width: 60%;
  float: left;
  padding: 0 15px;
  font-weight: bold;
  font-size: 15px;
}
.matches-list {
  padding: 15px;
  width: 100%;
}
.matchmain {
  float: left;
  width: 100%;
  padding: 15px;
}
.matchleft {
  max-width: 555px;
  float: left;
  margin: 12px 1%;
  font-size: 17px;
  min-width: 380px;
}
.row-odd {
  width: 100%;
  height: 37px;
  background: #414141;
  color: #d6d6d6;
  line-height: 37px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.opt1 {
  width: 29%;
  float: left;
  text-align: right;
}
.opt1 img {
  margin: 0 5px;
}
.opt2 {
  width: 29%;
  float: left;
  text-align: left;
}
.opt2 img {
  margin: 0 5px;
}
.vs-b {
  width: 17%;
  float: left;
  text-align: center;
}
.time-match {
  width: 25%;
  float: left;
  text-align: right;
  padding: 0 20px;
}
.row-even {
  width: 100%;
  height: 37px;
  background: #6a6a6a;
  color: #d6d6d6;
  line-height: 37px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.win {
  color: #74a400;
}
.lose {
  color: #e50909;
}
.draw {
  color: #ff8a00;
}
.result {
  width: 25%;
  float: left;
  text-align: right;
  padding: 0 20px;
}
.btn-show-hide {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/*******************************match right************************************/
.tt-right {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 17px;
}
.bet-list {
  padding: 15px;
}
.bet-list h2 {
  text-transform: uppercase;
  margin-top: 0;
}
.bet-blk {
  background: #bdbdbd none repeat scroll 0% 0%;
  color: #111 !important;
  font-weight: 600;
  width: 49%;
  float: left;
  padding: 5px 5px;
  margin-bottom: 15px;
}
.bet-blk.left {
  margin-right: 1%;
}
.bet-blk.right {
  margin-left: 1%;
}

/*.item {
width: 100%;
	position: relative;
	background: rgb(0, 0, 0) none repeat scroll 0% 0%;
	padding: 1px;
	display: inline-block;
	border-radius: 3px;
	text-align: center;
}
a.item  {
    cursor: pointer;
}

.img-item img{width:100%;max-width:100%;}
.item .bg-item {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 30;
    background: rgba(51,51,51,0.9);
    line-height: 15px;
	min-height: 14px;
}
.item .bg-item img{width:100%;max-width:100%;}*/

.common {
  color: #b0c3d9 !important;
  text-shadow: 0 0 0.2em #b0c3d9;
}
.rare {
  color: #4b69ff !important;
  text-shadow: 0 0 0.2em #4b69ff;
}
.mythical {
  color: #8847ff !important;
  text-shadow: 0 0 0.2em #8847ff;
}
.legendary {
  color: #d32ce6 !important;
  text-shadow: 0 0 0.2em #d32ce6;
}
.immortal {
  color: #e4ae33 !important;
  text-shadow: 0 0 0.2em #e4ae33;
}
.uncommon {
  color: #5e98d9 !important ;
  text-shadow: 0 0 0.2em #5e98d9;
}
.ancient {
  color: #eb4b4b !important ;
  text-shadow: 0 0 0.2em #eb4b4b;
}
.arcana {
  color: #ade55c !important ;
  text-shadow: 0 0 0.2em #ade55c;
}

.price-item {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px 5px;
  color: #d7d7d7;
  font-size: 9px;
  font-weight: 700;
  color: white;
  background: rgba(53, 53, 53, 0.7);
  border-radius: 3px;
  line-height: 15px;
  min-height: 15px;
}
.item label {
  font-size: 10px !important ;
  position: absolute;
  left: 0;
  bottom: -9px !important;
  z-index: 35;
  width: 100%;
  font-weight: 500;
  color: #d7d7d7;
}

.item .bg-item img {
  width: 100%;
  max-width: 100%;
  display: none;
}

.tips {
  display: none;
}
.tips a {
  color: #f39c12;
  font-weight: 700;
}
.item-blk {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 23%;
  margin: 5px 1%;
  float: left;
}

/*******************************match left************************************/
.time-right {
  float: right;
}
.match {
  background: none;
}
.match .op1 {
  width: 44%;
}
.match .op2 {
  width: 44%;
}
.match .vs {
  width: 12%;
}
.pd-blk {
  padding: 0 15px;
  margin-bottom: 20px;
}
.kind-match {
  width: 120px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  font-weight: bold;
}
.match .infor {
  position: relative;
}
.notice {
  width: 100%;
  padding: 0 15px;
  margin: 0 0 15px 0;
}
.txt-notice {
  width: 100%;
  min-height: 46px;
  border-radius: 6px 6px 6px 6px;
  background: none repeat scroll 0% 0% #a86060;
  line-height: 26px;
  padding: 6px 0;
  text-align: center;
  font-size: 18px;
  color: #d7d7d7;
}
.match-bk2 {
  background: #292929;
  padding: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  box-shadow: 2px 4px 6px #333;
}
.match-bk2 .item-list {
  background: #d7d7d7;
  box-shadow: inset 1px 2px 4px #222;
  width: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.match-bk2 .item label {
  bottom: -9px;
  font-size: 10px;
}
.match-bk2 .item-blk {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 15.2666666%;
  margin: 8px 0.7%;
  float: left;
}
.price-item {
  position: absolute;
  top: 2px;
  right: 0px;
  color: #d7d7d7;
  font-size: 9px;
  font-weight: 700;
  color: #f39c12;
}
.match-bk2-tab {
  position: relative;
  top: auto;
  right: auto;
}
.match-bk2 .filter-list {
  text-align: center;
  margin: 5px 0;
}
.match-bk2-tab.nav-tabs a {
  font-size: 14px;
  color: #d9d3ce;
  text-transform: none;
  font-weight: 700;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.match-bk2-tab.nav-tabs > li a {
  background: #414141;
  border: 0;
  border-radius: 6px 6px 0 0;
}
.match-bk2-tab.nav-tabs > li.active > a,
.match-bk2-tab.nav-tabs > li.active > a:hover,
.match-bk2-tab.nav-tabs > li.active > a:focus {
  background-color: #f39c12;
  border: 0;
  color: #fff;
  border-bottom-color: none;
  cursor: default;
}
.match-bk2-tab.nav-tabs > li:hover a {
  background: #f39c12;
  border: 0;
}
.match-bk2-tab.nav-tabs {
  border: 0;
}
.match-bk2-tab.nav-tabs > li.active > a,
.match-bk2-tab.nav-tabs > li.active > a:hover,
.match-bk2-tab.nav-tabs > li.active > a:focus {
  background: #f39c12;
}
.match-bk3 {
  background: #666666;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  box-shadow: 2px 4px 6px #333;
}
.half-match {
  width: 50%;
  float: left;
  color: #d7d7d7;
  font-size: 14px;
}
.half-match h4 {
  text-align: center;
  margin-bottom: 0px;
}
.dark-bg {
  background: #292929;
}
.light-bg {
  background: #666666;
}
.match-row {
  width: 100%;
  padding: 5px 20px;
  margin: 5px 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.left-row {
  width: 50%;
  float: left;
}
.left-row img {
  margin: 0 10px;
}
.right-row {
  width: 50%;
  float: right;
  text-align: right;
  color: #74a400;
  font-weight: 700;
}
.match-board {
  width: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.match-bk3-tab {
  position: relative;
  top: auto;
  right: auto;
}
.match-bk3-tab.nav-tabs > li a {
  background: #414141;
  border: 0;
  border-radius: 6px 6px 0 0;
}
.match-bk3-tab.nav-tabs > li.active > a,
.match-bk3-tab.nav-tabs > li.active > a:hover,
.match-bk3-tab.nav-tabs > li.active > a:focus {
  background-color: #292929;
  border: 0;
  color: #d9d3ce;
  border-bottom-color: none;
  cursor: default;
}
.match-bk3-tab.nav-tabs > li:hover a {
  background: #292929;
  border: 0;
}
.match-bk3-tab.nav-tabs {
  border: 0;
}
.match-bk3-tab.nav-tabs > li.active > a,
.match-bk3-tab.nav-tabs > li.active > a:hover,
.match-bk3-tab.nav-tabs > li.active > a:focus {
  background: #292929;
}
.comment-blk {
  background: #666666;
  padding: 10px 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  box-shadow: 2px 4px 6px #333;
}
.comment {
  padding: 10px 15px;
  width: 100%;
  background: #d7d7d7;
  overflow: hidden;
  margin-bottom: 10px;
}
.avata-user {
  display: inline-block;
  *display: inline;
  zoom: 1;
  float: left;
}
.avata-user img {
  width: 50px;
}
.comment-txt {
  float: left;
  padding: 0px 10px 10px 15px;
}
.info-comment {
  width: 100%;
  overflow: hidden;
}
.nation {
  float: left;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.nation img {
  height: 10px;
  margin-top: 6px;
  margin-right: 10px;
}
.user-name {
  float: left;
  display: inline-block;
  *display: inline;
  zoom: 1;
  color: #f39c12;
  font-weight: 700;
}
.time-post {
  float: right;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-size: 12px;
  font-style: italic;
}
.ct-comment {
  width: 100%;
}
.write-cmm textarea {
  box-shadow: inset 2px 4px 6px #333;
  border-radius: 5px;
  background: #d7d7d7;
  resize: none;
  width: 100%;
  height: 66px;
  line-height: 18px;
  font-size: 13px;
  padding: 2px 10px;
}
.write-cmm label {
  font-weight: 500;
  color: #f1f1f1;
}
.head-cmm {
  background: url(/images/cmm-bg.png) no-repeat top left #666666;
  height: 34px;
  width: 100%;
  box-shadow: 2px 4px 6px #333;
  color: #d7d7d7;
  font-weight: bold;
  padding: 0 15px;
  line-height: 34px;
  font-size: 16px;
}

.match-bk1 {
  background: #666;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  box-shadow: 2px 4px 6px #333;
  color: #d7d7d7;
  font-size: 14px;
  padding-bottom: 20px;
}
.winner {
  background: #292929;
  color: #f39c12;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  width: 100%;
  padding: 22px 0;
  min-height: 75px;
}
.match-bk1 h4 {
  margin-left: 15px;
}
.reward {
  padding-bottom: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
}
.left-reward {
  width: 50%;
  float: left;
  padding: 0 15px;
}
.right-reward {
  width: 50%;
  float: left;
  padding: 0 15px;
  text-align: right;
}
.key-rw {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 7px;
  text-align: left;
  font-size: 12px;
}
.key-rw span {
  color: #d0fc00;
  font-weight: 700;
  font-size: 13px;
}
.value-rw {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 7px;
  text-align: left;
  font-size: 12px;
}
.value-rw span {
  color: #f38c12;
  font-weight: 700;
  font-size: 13px;
}
.rare-rw {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 7px;
  text-align: left;
  font-size: 12px;
}
.rare-rw span {
  color: #4b69ff;
  font-weight: 700;
  font-size: 13px;
}
.match-bk1 .item-list {
  background: #d7d7d7 none repeat scroll 0% 0%;
  display: inline-block;
  box-shadow: 1px 2px 4px #222 inset;
  width: 80%;
  margin: 0px 10%;
}
.match-bk1 .item label {
  bottom: -2px;
  font-size: 10px;
}
.match-bk1 .item-blk {
  position: relative;
  display: inline-block;
  float: left;
  width: 18%;
}
.playbet {
  margin: 10px 0;
  text-align: center;
}
.playbet a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
  text-transform: uppercase;
  padding: 0px 80px;
}
.playbet a:hover,
.playbet a:focus {
}
.part {
  color: #d7d7d7;
  background: #292929;
  height: 45px;
  width: 100%;
  margin-bottom: 5px;
  padding: 0 15px;
  line-height: 45px;
}
.part a {
  color: #d7d7d7;
  font-weight: 700;
}
.match-bk1-tab {
  position: relative;
  top: auto;
  right: auto;
}
.match-bk1-tab.nav-tabs a {
  font-size: 14px;
  color: #d9d3ce;
  text-transform: none;
  font-weight: 700;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.match-bk1-tab.nav-tabs > li a {
  background: #414141;
  border: 0;
  border-radius: 6px 6px 0 0;
}
.match-bk1-tab.nav-tabs > li.active > a,
.match-bk1-tab.nav-tabs > li.active > a:hover,
.match-bk1-tab.nav-tabs > li.active > a:focus {
  background-color: #f39c12;
  border: 0;
  color: #d9d3ce;
  border-bottom-color: none;
  cursor: default;
}
.match-bk1-tab.nav-tabs > li:hover a {
  background: #f39c12;
  border: 0;
}
.match-bk1-tab.nav-tabs {
  border: 0;
}
.match-bk1-tab.nav-tabs > li.active > a,
.match-bk1-tab.nav-tabs > li.active > a:hover,
.match-bk1-tab.nav-tabs > li.active > a:focus {
  background: #f39c12;
}

/*******************************bets right************************************/
.title2 {
  height: 35px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 35px;
  padding-left: 15px;
  color: #d7d7d7;
  position: relative;
  background-color: #717171;
}
.style-bg-d {
  background: url(/images/bg-title3c.png) no-repeat 0px 0px;
}
.request {
  display: block;
  width: 105px;
  height: 31px;
  background: url(/images/req.png) no-repeat;
}
.request:hover {
  background: url(/images/req-hover.png) no-repeat;
}
.won-list {
  width: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.won-list h4 {
  color: #2ca823;
}
.won-list .item-blk {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 15.2666666%;
  margin: 8px 0.7%;
  float: left;
}
.return-list .item-blk {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 15.2666666%;
  margin: 8px 0.7%;
  float: left;
}
.return-list h4 {
  color: #e57d10;
}
.recovered-list .item-blk {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 15.2666666%;
  margin: 8px 0.7%;
  float: left;
}
.recovered-list h4 {
  color: #1569c7 !important;
}
.return-list {
  width: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.btn-show-hide.style-2 {
  top: 10px;
}
.won-list .item label,
.return-list .item label {
  bottom: -10px;
}

/*******************************bets left************************************/
.mybet-blk {
  padding: 10px 15px 5px 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  background: url(/images/bg1.png) repeat-x bottom left #d7d7d7;
  position: relative;
}
.mybet-blk .series a {
  color: #6f6f6f;
}
.bet-right {
  position: absolute;
  top: 0px;
  right: 30%;
}
.mybet-blk .series a strong {
  color: #646464;
}
.p-reward {
  width: 100%;
  float: right;
  text-align: right;
  line-height: 31px;
}
.p-reward span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  color: #c31010;
  font-size: 16px;
  line-height: 31px;
}
.change-team {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0 14px;
  height: 31px;
  text-align: center;
  font-size: 13px;
  line-height: 31px;
  color: #ffb400 !important;
  background: #6d6c6c;
  border-radius: 5px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6d6c6c), to(#353535));
  background: -webkit-linear-gradient(top, #6d6c6c, #6d6c6c 70%, #353535);
  background: -moz-linear-gradient(top, #6d6c6c, #6d6c6c 70%, #353535);
  background: -ms-linear-gradient(top, #6d6c6c, #6d6c6c 70%, #353535);
  background: -o-linear-gradient(top, #6d6c6c, #6d6c6c 70%, #353535);
}
.change-team:hover {
  color: #fff !important;
  box-shadow: inset 1px 2px 4px #333;
  background: #676767;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#676767), to(#6d6c6c));
  background: -webkit-linear-gradient(top, #676767, #676767 40%, #6d6c6c);
  background: -moz-linear-gradient(top, #676767, #676767 40%, #6d6c6c);
  background: -ms-linear-gradient(top, #676767, #676767 40%, #6d6c6c);
  background: -o-linear-gradient(top, #676767, #676767 40%, #6d6c6c);
}
.mybet-blk .item-list {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 60%;
  float: left;
}
.mybet-blk .item label {
  bottom: -9px;
  font-size: 10px;
}
.mybet-blk .item-blk {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 23%;
  margin: 8px 1%;
  float: left;
}
.item-list-mybet {
  background: #e7e7e7 none repeat scroll 0% 0%;
  width: 100%;
  display: inline-block;
  margin: 5px 0px 10px;
  box-shadow: 0px 0px 1px #222 inset;
  *display: inline;
  zoom: 1;
  margin: 5px 0 10px 0;
}
.item-list-mybet .match-info {
  width: 40%;
  float: left;
}
.now {
  margin-top: -3px;
  margin-left: 0px;
}
.oo1,
.oo2 {
  width: 45%;
  float: left;
  text-align: center;
}
.vs3 {
  width: 10%;
  float: left;
  text-align: center;
  line-height: 90px;
}
.oo1 label,
.oo2 label {
  font-weight: 500;
  font-size: 18px;
}
.oo1 h4,
.oo2 h4 {
  margin: 25px 0 5px 0;
}
.mybet-blk .pagination-b {
  margin: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.mybet-blk .pagination-b ul {
  margin: 0;
  padding: 0;
}
.p-match {
  margin-top: 15px;
}

/*******************************trade - bet -mobile************************************/
.m-only {
  display: none;
}
.m-only a {
  color: #e08e22;
  background: #414141;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 50%;
  float: left;
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-weight: bold;
  font-size: 15px;
}
.m-only img {
  height: 20px;
}
.m-only a:hover {
  background: #333;
}

/*******************************dominate************************************/
.evens,
.odds {
  width: 100%;
  min-height: 36px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: 700;
}
.odds {
  background: #c7c7c7;
}
.user-dono {
  width: 65%;
  float: left;
}
.user-dono img {
  margin-top: -3px;
  margin-right: 4px;
}
.money {
  width: 35%;
  float: right;
  text-align: right;
}
.orange {
  color: #ce590f;
}
.green {
  color: #1a771a;
}
.purple {
  color: #531b7a;
}
.cl1 {
  color: #cc1800;
}
.cl2 {
  color: #aa1804;
}
.cl3 {
  color: #fe0042;
}
.form-dominate thead,
.form-dominate tfoot {
  background: #888888;
  color: #fff;
}
.form-dominate td {
  text-align: center;
  padding: 2px 5px;
}
.form-dominate .al-l {
  text-align: left;
}
.coins {
  color: #ff8a01;
}
.form-dominate tbody td {
  border-bottom: solid 1px #999;
}
.form-dominate input[type='text'] {
  background: #fff;
  width: 60px;
  border-radius: 8px;
  box-shadow: inset 1px 2px 4px #999;
  padding: 0 5px;
}
.btn-dn {
  background: #f4f4f4;
  border-radius: 8px;
  padding: 2px 8px;
  color: #e96205;
  font-weight: 700;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f4f4), to(#b8b8b8));
  background: -webkit-linear-gradient(top, #f4f4f4, #f4f4f4 70%, #b8b8b8);
  background: -moz-linear-gradient(top, #f4f4f4, #f4f4f4 70%, #b8b8b8);
  background: -ms-linear-gradient(top, #f4f4f4, #f4f4f4 70%, #b8b8b8);
  background: -o-linear-gradient(top, #f4f4f4, #f4f4f4 70%, #b8b8b8);
}
.btn-dn:hover {
  box-shadow: inset 1px 1px 4px #333;
  background: #f4f4f4;
}
.form-dominate .al-r {
  text-align: right;
}

/*******************************profile************************************/
.trade-history {
  margin: 15px 0;
}
.odds2 {
  background: #c7c7c7;
}
.evens2,
.odds2 {
  padding: 5px 5px;
  font-size: 13px;
  font-weight: 500;
}
.row-t {
  width: 100%;
  min-height: 36px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  border-radius: 6px;
}
.style-list {
  width: 3%;
  float: left;
  font-weight: 700;
  cursor: pointer;
}
.style-list span {
  width: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.result-t {
  width: 10%;
  float: left;
  font-weight: 700;
}
.opt-t {
  width: 35%;
  float: left;
}
.series-t {
  width: 22%;
  float: left;
  text-align: center;
}
.time-t {
  width: 30%;
  float: left;
  text-align: right;
}
.show-a {
  background: url(/images/show-a.png) no-repeat;
  width: 154px;
  height: 31px;
  display: block;
  margin: 15px 0;
}
.show-a:hover {
  background: url(/images/show-a-hover.png) no-repeat;
}
.style-c .nav-tabs {
  left: 5px;
  right: 0 !important;
}
.style-c {
  background: url(/images/bg-title4.png) no-repeat 0px 0 !important;
}
.user-info {
  width: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 15px 0;
  position: relative;
}
.user-avata {
  width: 30%;
  float: left;
  text-align: center;
  box-shadow: 0px 0px 2px #111;
}
.user-avata a {
  width: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.user-avata a img {
  width: 100%;
  max-width: 100%;
}
.info-user-txt {
  width: 70%;
  float: left;
  padding: 0 15px;
}
.refresh {
  position: absolute;
  top: 0px;
  right: 15px;
}
.name {
  display: block;
  width: 100%;
  font-size: 25px;
  color: #f38612;
  font-weight: bold;
  text-shadow: 1px 0px 1px #111;
}

.url input {
  width: 100%;
  height: 38px;
  background: #4d4d4d;
  display: inline-block;
  *display: inline;
  zoom: 1;
  border: 0;
  color: #d5d5d5;
  padding: 0 15px;
}
.your-srteam {
  position: relative;
  top: auto;
  right: auto;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}
.url {
  background: #4d4d4d;
  margin: 0 0 10px 0;
}
.your-srteam .orange-btn {
  margin-bottom: 8px;
}
.profile-bet {
  margin: 15px 0;
}
.profile-bet .item-list {
  background: #d7d7d7;
  box-shadow: inset 1px 2px 4px #222;
  width: 100%;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.profile-bet .item label {
  bottom: -9px;
  font-size: 10px;
}
.profile-bet .item-blk {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 15.2666666%;
  margin: 8px 0.7%;
  float: left;
}
.list-item-profile {
  width: 100%;
  background: #b8b8b8;
  padding: 15px;
  text-align: center;
}
.filter-list select {
  background: #444;
  margin: 5px 5px;
  color: #d7d7d7;
  border-radius: 5px;
  padding: 5px 8px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.filter-list input {
  background: #444;
  margin: 5px 5px;
  color: #d7d7d7;
  border-radius: 5px;
  padding: 5px 8px;
  border: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.filter-list input::-webkit-input-placeholder {
  color: #f38c12;
}
.filter-list input:-moz-placeholder {
  color: #f38c12;
  opacity: 1;
}
.filter-list input::-moz-placeholder {
  color: #f38c12;
  opacity: 1;
}
.filter-list input:-ms-input-placeholder {
  color: #f38c12;
}
.list-item-profile .item-list {
  margin: 15px 0;
}

.lc {
  text-transform: lowercase;
  font-weight: 500;
}
.orange-btn {
  background: #e17b0f;
  border-radius: 6px;
  padding: 0px 12px;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  *display: inline;
  zoom: 1;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e89211), to(#bc4b13));
  background: -webkit-linear-gradient(top, #e89211, #e89211 70%, #bc4b13);
  background: -moz-linear-gradient(top, #e89211, #e89211 70%, #bc4b13);
  background: -ms-linear-gradient(top, #e89211, #e89211 70%, #bc4b13);
  background: -o-linear-gradient(top, #e89211, #e89211 70%, #bc4b13);
  height: 29px;
  line-height: 29px;
  text-align: center;
}
.orange-btn:hover {
  background: #d86011;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d86012), to(#e89211));
  background: -webkit-linear-gradient(top, #d86012, #d86012 40%, #e89211);
  background: -moz-linear-gradient(top, #d86012, #d86012 40%, #e89211);
  background: -ms-linear-gradient(top, #d86012, #d86012 40%, #e89211);
  background: -o-linear-gradient(top, #d86012, #d86012 40%, #e89211);
  color: #fff;
  box-shadow: inset 0px 1px 4px #333;
}
.hide-item-row {
  display: none;
}
.hide-item-row .item-blk {
  width: 14.6666666%;
  margin: 8px 1%;
}
.hide-item-row .label-p {
  width: 10%;
  float: left;
  text-align: center;
}
.hide-item-row .placed-list {
  margin-top: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
}
.hide-item-row .won-list-p {
  margin-top: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
}
.hide-item-row .items-list {
  width: 90%;
  float: left;
}
.algin-left {
  text-align: left;
}
.one-fourth {
  width: 24%;
  float: left;
  margin: 0 0.5%;
  padding: 10px;
  background: #323232;
  border: solid 1px #2d2d2d;
}
.one-fourth .r-btn {
  background: #252525;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: #bdbdbd;
}
.one-fourth .r-btn:hover {
  background: #111;
}
.one-fourth .r-btn.active {
  background: #f39c12;
  color: #fff;
}
.one-fourth span {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%;
  color: #bfc1bc;
}
.r-rare {
  color: #4b69ff !important;
  font-weight: bold;
}
.r-key {
  color: #d0fc00 !important;
  font-weight: bold;
}
.r-value {
  color: #f38c12 !important;
  font-weight: bold;
}
.final-txt {
  color: #d0fc00 !important;
}
.shadow-txt {
  text-shadow: 0px 1px 3px #222;
}
.left-st {
  float: left;
  width: 46%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0 2px 0 0;
}
.right-st {
  float: left;
  width: 46%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 0 0 0 2px;
}
.sep {
  float: left;
  width: 8%;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  font-weight: bold;
}
.left-st .team-n {
  float: left;
  width: 65%;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.left-st .per {
  float: right;
  width: 35%;
  text-align: right;
}
.right-st .team-n {
  float: right;
  text-align: right;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.right-st .per {
  float: left;
  width: 35%;
}
.team-n:hover {
  color: #f60;
}
.sep .team-vs {
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  font-weight: bold;
}
.team-vs:hover {
  color: #f60;
}

.w-100 {
  width: 100% !important;
}

.verified-2ez {
  color: #fff !important;
  background-color: #4285f4 !important;
  font-size: 10px !important;
  font-weight: 600;
  cursor: pointer;
}

.verified-partner {
  color: #000 !important;
  background-color: #e0e0e0 !important;
  font-size: 10px !important;
  font-weight: 600;
  cursor: pointer;
}

.halloween-bg-one {
  background-image: url('/images/halloween/match-bg.png') !important;
  background-size: cover !important;
  /* background-position: bottom !important; */
  background-position-x: left !important;
  background-position-y: top !important;
}

.halloween-pumpkin-logo {
  width: 100px;
  position: relative;
  bottom: -31px;
  left: -42px;
  transform: skewY(-5deg);
}

@media only screen and (max-width: 768px) {
  .halloween-pumpkin-logo {
    margin-top: -100px !important;
    float: right;
    left: 30px;
    bottom: -36px;
  }
}

@CHARSET "ISO-8859-1";

/*Item Rarity*/
.Key { color: #D4A017; }
.Common { color: #b0c3d9; }
.Uncommon { color: #5e98d9; }
.Rare { color: #4b69ff; }
.Mythical { color: #8847ff; }
.Legendary { color: #d32ce6; }
.Ancient { color: #eb4b4b; }
.Immortal { color: #e4ae39; }
.Arcana { color: #ade55c; }
.Warning { -webkit-box-shadow: 0px 0px 1px 1px #d12121; box-shadow: 0px 0px 1px 1px #d12121; }
.Legacy { -webkit-box-shadow: 0px 0px 1px 1px #FFF; box-shadow: 0px 0px 1px 1px #FFF; }
.Inscribed { -webkit-box-shadow: 0px 0px 1px 1px #CF6A32; box-shadow: 0px 0px 1px 1px #CF6A32; }
.Unusual, .Heroic, .Cursed { -webkit-box-shadow: 0px 0px 1px 1px #8650AC; box-shadow: 0px 0px 1px 1px #8650AC; }
.Elder { -webkit-box-shadow: 0px 0px 1px 1px #476291; box-shadow: 0px 0px 1px 1px #476291; }
.Genuine { -webkit-box-shadow: 0px 0px 1px 1px #4d7455; box-shadow: 0px 0px 1px 1px #4d7455; }
.Favored { -webkit-box-shadow: 0px 0px 1px 1px #FF0; box-shadow: 0px 0px 1px 1px #FF0; }
.Autographed { -webkit-box-shadow: 0px 0px 1px 1px #ADE55C; box-shadow: 0px 0px 1px 1px #ADE55C; }
.Self-Made { -webkit-box-shadow: 0px 0px 1px 1px #70B04A; box-shadow: 0px 0px 1px 1px #70B04A; }
.Ascendant { -webkit-box-shadow: 0px 0px 1px 1px #EB4B4B; box-shadow: 0px 0px 1px 1px #EB4B4B; }
.Frozen { -webkit-box-shadow: 0px 0px 1px 1px #4682B4; box-shadow: 0px 0px 1px 1px #4682B4; }
.Corrupted { -webkit-box-shadow: 0px 0px 1px 1px #A52A2A; box-shadow: 0px 0px 1px 1px #A52A2A; }
.Auspicious { -webkit-box-shadow: 0px 0px 1px 1px #32CD32; box-shadow: 0px 0px 1px 2px #32CD32; }
/*Bet*/

img#left_team.selected { background-color: rgb(176, 255, 0); outline: none; padding:3px;}
img#right_team.selected  { background-color: rgb(176, 255, 0); outline: none; padding:3px;}

.bot_box {
	background-color: rgb(28, 160, 268);
	position: fixed;
	bottom: 15px;
	width: 12.6666666%;
	padding: 8px;
	border-radius: 6px;
	box-shadow: 0px 0px 10px #333;
	float: right;
	right: 8px;
	min-width: 180px;
	color: #fff;
	text-shadow: 1px 1px #000;
	z-index: 9999;
}

.none {
	display: none;
}

.addbot-btn{
  background:#e17b0f;border-radius:6px;padding:0px 12px;color:#fff;font-weight:700;display:inline-block;*display:inline;zoom:1;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e89211), to(#bc4b13));
  background: -webkit-linear-gradient(top, #e89211,#e89211 70%, #bc4b13);
  background: -moz-linear-gradient(top, #e89211,#e89211 70%, #bc4b13);
  background: -ms-linear-gradient(top, #e89211,#e89211 70%, #bc4b13);
  background: -o-linear-gradient(top, #e89211,#e89211 70%, #bc4b13);
  height:29px;line-height:29px;text-align:center;
  
    }
.addbot-btn:hover{
    background:#d86011;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d86012), to(#e89211));
  background: -webkit-linear-gradient(top, #d86012,#d86012 40%, #e89211);
  background: -moz-linear-gradient(top, #d86012,#d86012 40%, #e89211);
  background: -ms-linear-gradient(top, #d86012,#d86012 40%, #e89211);
  background: -o-linear-gradient(top, #d86012,#d86012 40%, #e89211);
  color:#fff;
  box-shadow:inset 0px 1px 4px #333
    }
    
.bonus-list .item-blk{position:relative;display:inline-block;*display:inline;zoom:1;width:15.2666666%;margin:8px 0.7%;float:left;}
.bonus-list h4{color:#B4045F;}
.bonus-list{width:100%;display:inline-block;*display:inline;zoom:1;}

.missing-list .item-blk{position:relative;display:inline-block;*display:inline;zoom:1;width:15.2666666%;margin:8px 0.7%;float:left;}
.missing-list h4{color:#000;}
.missing-list{width:100%;display:inline-block;*display:inline;zoom:1;}

    
.owe-list .item-blk{position:relative;display:inline-block;*display:inline;zoom:1;width:15.2666666%;margin:8px 0.7%;float:left;}
.owe-list h4{color:#B4045F;}
.owe-list{width:100%;display:inline-block;*display:inline;zoom:1;}
    
    
.key-rw{display:inline-block;*display:inline;zoom:1;margin:0 7px;text-align:left;font-size:12px;}
.key-rw span{color:#d4a017;font-weight:700;font-size:13px;}
.value-rw{display:inline-block;*display:inline;zoom:1;margin:0 7px;text-align:left;font-size:12px;}
.value-rw span{color:#d0fc00;font-weight:700;font-size:13px;}

.r-key{color:#d4a017 !important;font-weight:bold;}
.key{color:#d4a017 !important;}
.left-reward {
    border-radius: 6px;
    width: 50%;
    padding: 0px 15px;
    background-color: rgb(47, 47, 47);
}
.right-reward {
    text-align: right;
    border-radius: 6px;
    width: 50%;
    background-color: rgb(47, 47, 47);
    float: right;
}

.vs-blk {
	background: #CACACA none repeat scroll 0% 0%;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	margin: 5px 0px;
	padding: 2px;
	border-radius: 5px;
	box-shadow: 0px 0px 1px #4B4B4B inset;
}
.match-bk1{background:#292929;display:inline-block;*display:inline;zoom:1;width:100%;box-shadow:0px 1px 2px #333;color:#d7d7d7;font-size:14px;padding-bottom:20px; border-radius:5px;}
.match-bk2{background:#666666;padding:15px;display:inline-block;*display:inline;zoom:1;width:100%;box-shadow:0px 1px 2px #333}
.main-vs {
    display: inline-block;
    background: none repeat scroll 0% 0% #ccc;
    box-shadow: 0px 0px 0px #999;
    width: 100%;
    border-radius: 5px;
}

.bet-blk {
	background: #C6C6C6 none repeat scroll 0% 0%;
	color: #0C0C0C !important;
	font-weight: 600;
	width: 49%;
	float: left;
	padding: 5px;
	margin-bottom: 15px;
	border-radius: 5px;
	font-size: 12px;
}
.title3{height:35px;font-size:24px;font-weight:700;text-transform:uppercase;line-height:35px;padding-left:15px;color:#F39C12;position:relative;background-color: #717171;}
.title{height:35px;font-size:24px;font-weight:700;text-transform:uppercase;line-height:35px;padding-left:15px;color:#F39C12;position:relative;background-color: #717171;}
.title4{height:30px;font-size:20px;font-weight:700;text-transform:uppercase;line-height:30px;padding-left:15px;color:#d7d7d7;position:relative;background-color: #717171;}
.items-list {
	background: #d7d7d7;
	width: 100%;
	display: inline-block;
	*display: inline;
	zoom: 1;
	border-radius: 5px;
}

.match-bk2 .item-list {
    border-radius: 5px;
	background: #d7d7d7;
	width: 100%;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.m-container3 {
    margin: 15px 0.5% 15px 15%;
    background: none repeat scroll 0% 0% #DEDEDE;
    width: 70%;
    padding-bottom: 0px;
    box-shadow: 0px 1px 2px #000;
}

.m-container2 {
    margin: 15px 0.5% 15px 1%;
    background: none repeat scroll 0% 0% #DEDEDE;
    width: 48.5%;
    float: left;
    padding-bottom: 0px;
    box-shadow: 0px 1px 2px #000;
}
.m-container1 {
    margin: 15px 0.5% 15px 1%;
    background: none repeat scroll 0% 0% #DEDEDE;
    width: 48.5%;
    float: left;
    padding-bottom: 0px;
    box-shadow: 0px 1px 2px #000;
}
.comment-blk{background:rgba(234, 234, 234, 1);padding:10px 15px;display:inline-block;*display:inline;zoom:1;width:100%;box-shadow:0px 1px 2px #333}
.header {
    width: 100%;
    min-height: 100px;
    background: none repeat scroll 0% 0% #333;
    position: relative;
    box-shadow: 1px 5px 2px 2px #292929;
}

.ti10-prize-pool-container{
    text-align: center;
    color: #d4af37;
    position: relative;
    top: -6px;
    left: 20px;
    font-size: 14px;
}

.match-bk1-tab.nav-tabs a{font-size:14px;color:#d9d3ce;text-transform:none;font-weight:700;padding-top:5px !important;padding-bottom:5px !important;}
.match-bk1-tab.nav-tabs > li a{background:#B6B6B6;border:0;border-radius:5px; margin-bottom: 5px; margin-right: 5px;}
.match-bk1-tab.nav-tabs > li.active > a, .match-bk1-tab.nav-tabs > li.active > a:hover, .match-bk1-tab.nav-tabs > li.active > a:focus {
background-color:#f39c12;
border: 0;
color:#FFF;
border-bottom-color: none;
cursor: default;
box-shadow:1px 1px 2px 0px #888;
}

.match-bk2-tab.nav-tabs a{font-size:14px;color:#d9d3ce;text-transform:none;font-weight:700;padding-top:5px !important;padding-bottom:5px !important;}
.match-bk2-tab.nav-tabs > li a{background:#B6B6B6;border:0;border-radius:5px; margin-bottom: 5px; margin-right: 5px;}
.match-bk2-tab.nav-tabs > li.active > a, .match-bk1-tab.nav-tabs > li.active > a:hover, .match-bk1-tab.nav-tabs > li.active > a:focus {
background-color:#f39c12;
border: 0;
color:#FFF;
border-bottom-color: none;
cursor: default;
box-shadow:1px 1px 2px 0px #888;
}

.avata-op .avata .a-img.selected {position:absolute;z-index:10;top:0;left:0;}
.avata-op .avata img{width:100%;max-width:100%;padding: 2px;border-radius:6px}
.nav > li > a {
position: relative;
display: block;
padding: 0px 15px;
}

.noscript {
    padding: 1em;
    margin-bottom: 1em;
    display: block;
    color: #FFF;
    background-color: #DA4453;
	text-align: center;
}

.right-blk ul li span.fst { color: #ade55c; font-weight: bold; width: 100px; text-shadow: 0px 0px 3px #000000; }
.right-blk ul li span.snd { color: #e4ae39; width: 100px; text-shadow: 0px 0px 3px #000000; }
.right-blk ul li span.trd { color: #eb4b4b; width: 100px; text-shadow: 0px 0px 3px #000000; }
.right-blk ul li span.def { color: #F8F8F8; width: 100px; text-shadow: 0px 0px 3px #000000; }
.right-blk ul li span.winrate { float: right; padding-right: 8px;}

.op1 {
    width: 38%;
    float: left;
}
.vs {
    width: 5%;
    float: left;
    text-align: center;
    line-height: 99px;
    font-size: 16px;
}
.op2 {
    width: 38%;
    float: left;
}
.view-bl {
    float: left;
    width: 15%;
	text-align: center;
}

.xitem-blk div:last-child{ 
    display:none;
	font-size: 11px; font-family: 'Open Sans', sans-serif; position: absolute; padding: 5px; z-index: 100000; line-height: 14px;
}
.xitem-blk:hover div:last-child{ display:block; }

#checkmark {
	position: absolute;
	display: inline-block;
	width: 22px;
	height: 22px;
	transform: rotate(45deg);
	margin-top: -5px;
	margin-left: -10px;
	z-index: 999;
	right: -6px;
}
#circle {
    position: absolute;
    width: 0px;
    height: 0px;
    border: 11px solid #FFA500;
    border-radius: 11px;
    left: 0px;
    top: 0px;
	z-index: 999;
}
#stem {
    position: absolute;
    width: 3px;
    height: 9px;
    background-color: #FFF;
    left: 11px;
    top: 6px;
	z-index: 999;
}
#kick {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #FFF;
    left: 8px;
    top: 12px;
	z-index: 999;
}


.bao_mon_top{
    width:100%;
    height:900px;
    overflow:scroll;
    background:blue;
}
table.mon_top{color:#454545; font-weight:bold}
table.mon_top{width:100%; }
table.mon_top td.head{
    background:#C46C1A;
    color:white;
}
table.mon_top td{padding:5px; border:1px solid #d7d7d7}
td.fst{ color:#269100}
tr {background:#c7c7c7}
tr.c{background:#cecece}
td.snd{color:#E38314}
td.trd{color:#EB3C28}

.bar_right{
    color:orange;
    font-size:12px;
    float:right;
    margin-right:10px;
    text-transform:none
}
.sbox {
	background: none repeat scroll 0px 0px rgba(41, 41, 41, 0.49);
	position: relative;
	border: 0px none;
	color: #C9C9C9;
	margin: 3px;
	padding: 3px;
	height: 30px;
	border-radius: 3px;
	box-shadow: 0px 1px 1px #2E2E2E;
}
.item-blk:hover .item{z-index:1}
.item-blk:hover .tip{color:#CCC;z-index:36;top:100%;display:block;max-width:200px;overflow:hidden;padding:.5em;-webkit-border-radius:3px;border-radius:3px;background:#3D3D3D}
.item-blk:hover .tips{color:#CCC;z-index:36;top:100%;display:block;max-width:200px;overflow:hidden;padding:.5em;-webkit-border-radius:3px;border-radius:3px;background:#3D3D3D}
.tips {display:none;position:absolute}
.tips{line-height:14px;font-size: 12px; font-family: 'Open Sans', sans-serif;text-align:left;text-overflow:ellipsis;white-space:nowrap}
.tips a{font-weight:bold;text-shadow:-1px 1px #000!important}
.tips a img{width:35px}
.tip {display:none;position:absolute}
.tip{line-height:14px;font-size: 12px; font-family: 'Open Sans', sans-serif;text-align:left;text-overflow:ellipsis;white-space:nowrap}
.tip a{font-weight:bold;text-shadow:-1px 1px #000!important}
.tip a img{width:35px}



.Value{
    color:#8ec13e
}

.Key{
    color:#d9d919
}

.Common{
    color:#b0c3d9
}

.Uncommon{
    color:#5e98d9
}

.Rare{
    color:#4b69ff
}

.Mythical{
    color:#8847ff
}

.Legendary{
    color:#d32ce6
}

.Ancient{
    color:#eb4b4b
}

.Immortal{
    color:#e4ae39
}

.Arcana{
    color:#ade55c
}

.Warning{
    -webkit-box-shadow:0 0 1px 2px #d12121;
    box-shadow:0 0 1px 2px #d12121
}

.Legacy{
    -webkit-box-shadow:0 0 1px 2px #FFF;
    box-shadow:0 0 1px 2px #FFF
}

.Inscribed{
    -webkit-box-shadow:0 0 1px 2px #cf6a32;
    box-shadow:0 0 1px 2px #cf6a32
}

.Exalted {
    -webkit-box-shadow:0 0 1px 2px #ccc;
    box-shadow:0 0 1px 2px #ccc
}

.Unusual,.Heroic,.Cursed{
    -webkit-box-shadow:0 0 1px 2px #8650ac;
    box-shadow:0 0 1px 2px #8650ac
}

.Elder{
    -webkit-box-shadow:0 0 1px 2px #476291;
    box-shadow:0 0 1px 2px #476291
}

.Genuine{
    -webkit-box-shadow:0 0 1px 2px #4d7455;
    box-shadow:0 0 1px 2px #4d7455
}

.Favored{
    -webkit-box-shadow:0 0 1px 2px #FF0;
    box-shadow:0 0 1px 2px #FF0
}

.Autographed{
    -webkit-box-shadow:0 0 1px 2px #ade55c;
    box-shadow:0 0 1px 2px #ade55c
}

.Self-Made{
    -webkit-box-shadow:0 0 1px 2px #70b04a;
    box-shadow:0 0 1px 2px #70b04a
}

.Ascendant{
    -webkit-box-shadow:0 0 1px 2px #eb4b4b;
    box-shadow:0 0 1px 2px #eb4b4b
}

.Frozen{
    -webkit-box-shadow:0 0 1px 2px #4682b4;
    box-shadow:0 0 1px 2px #4682b4
}

.Corrupted{
    -webkit-box-shadow:0 0 1px 2px #a52a2a;
    box-shadow:0 0 1px 2px #a52a2a
}

.Auspicious{
    -webkit-box-shadow:0 0 1px 2px #32cd32;
    box-shadow:0 0 1px 2px #32cd32
}
.tabselect {
	float: left;
	width: 96%;
	margin: 0 2% 8px 2%;
	height: 26px;
	top: 27px
}

.tabselect:hover .subtabs {
	display: block;
	position: relative;
	z-index: 2
}

.subtabs {
	float: left;
	width: 100%;
	display: none
}

.tab {
	cursor: pointer;
	float: left;
	width: 50%;
	text-align: center;
	background-color: #414141;
	color: #CCC;
}

.tab:hover {
	background-color: #3d3d3d;
	color: #FFAA0D !important
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid #0dff00;
}

.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f00;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid green;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid blue; 
}


/*CSGO*/
.itemcsgobg {
    background: #909090 none repeat scroll 0% 0% !important;
}
.clreff {
    float: left;
    font-size: .7em;
    padding: 1px 2px;
    border-radius: 0 0 6px 0;
    color: #EEE;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
	z-index: 99;
}
.csWarning {
    -webkit-box-shadow: 0 0 1px 2px #d12121;
    box-shadow: 0 0 1px 2px #d12121
}

.csWarning:before {
    content: '';
    font-size: 1.6em;
    background: rgba(197, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    position: absolute
}

.StatTrak {
    -webkit-box-shadow: 0 0 1px 2px #cf6a32;
    box-shadow: 0 0 1px 2px #cf6a32
}

.Star {
    -webkit-box-shadow: 0 0 1px 2px #8650ac;
    box-shadow: 0 0 1px 2px #8650ac
}

.Souvenir {
    -webkit-box-shadow: 0 0 1px 2px #ffd700;
    box-shadow: 0 0 1px 2px #ffd700
}

.picked {
    -webkit-box-shadow: 0 0 1px 2px #ff8a00;
    box-shadow: 0 0 1px 2px #ff8a00
}

.Consumer, .Base {
    box-shadow: 0 2px #b0c3d9
}

.Industrial {
    box-shadow: 0 2px #5e98d9
}

.Mil-Spec {
    box-shadow: 0 2px #4b69ff
}

.Restricted {
    box-shadow: 0 2px #8847ff
}

.Classified {
    box-shadow: 0 2px #d32ce6
}

.Covert, .Extraordinary {
    box-shadow: 0 2px #eb4b4b
}
